{{define "Title"}}下载{{end}}
{{define "ContentWidth"}}12{{end}}
{{define "Breadcrumb"}}
<ul class="breadcrumb">
  <li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
  <li class="active">下载</li>
</ul>
{{end}}
{{define "Content"}}
<div class="content">
  <div class="page-header">
	<h1>资源下载</h1>
	<div class="alert alert-info" role="alert">
	  如果下载速度比较慢，可以用下载工具；<br>
	  新增了百度云盘下载。
	</div>
  </div>
  <div class="panel-group" id="accordion">
	<div class="panel panel-default">
	 
	  <div id="collapse0" class="accordion-body collapse in">
		<div class="accordion-inner">
		  <table class="table table-striped table-hover table-condensed">
			<thead>
			  <tr><th>工具</th>
			  <th>用途</th>
			  <th>地址</th>
			</tr></thead>
			<tbody>
			  
			  <tr>
				<td>goagent</td>
				<td>科学上网</td>
				<td>
				  <a href="https://github.com/goagent/goagent" class="btn btn-xs btn-primary">github</a>
				</td>
			  </tr>
			  <tr>
				<td>shadowsocks</td>
				<td>科学上网</td>
				<td>
				  <a href="https://github.com/shadowsocks/shadowsocks" class="btn btn-xs btn-primary">github</a>
				</td>
			  </tr>	
			    <tr>
			  	<td>GoGo Tester</td>
			  	<td>科学上网</td>
				<td>
				  <a href="https://github.com/azzvx/gogotester/raw/2.3/GoGo%20Tester/bin/Release/GoGo%20Tester.exe" class="btn btn-xs btn-primary">github</a>
				</td>
			  </tr> 
			  <tr>
				<td>Android Studio</td>
				<td>开发工具</td>
				<td>
				  <a href="https://developer.android.com/sdk/index.html" class="btn btn-xs btn-primary">官网</a>
				  <a href="http://pan.baidu.com/s/1dDhdh9B" class="btn btn-xs btn-info">百度网盘</a>
				</td>
			  </tr>		
			  <tr>
			  	<td>Sublime Text 3</td>
			  	<td>文本编辑器</td>
				<td>
				  <a href="http://www.sublimetext.com/2" class="btn btn-xs btn-primary">官网</a>
				</td>
			  </tr>  
			    <tr>
			  	<td>Notepad++</td>
			  	<td>文本编辑器</td>
				<td>
				  <a href="https://notepad-plus-plus.org/" class="btn btn-xs btn-primary">官网</a>
				</td>
			  </tr>  
			   </tr>  
			    <tr>
			  	<td>Lastpass</td>
			  	<td>密码管理（chrome插件）</td>
				<td>
				  <a href="https://chrome.google.com/webstore/detail/lastpass-free-password-ma/hdokiejnpimakedhajhdlcegeplioahd?utm_campaign=en&utm_source=en-et-na-us-oc-webstrhm&utm_medium=et" class="btn btn-xs btn-primary">Chrome商店（需翻墙）</a>
				</td>
			  </tr> 
			 
			 			  
			</tbody>
		  </table>
		</div>
	  </div>
	</div>
  </div>
</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}
{{end}}
